
.gap5{
    gap: 5px;
}

.pined-span{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%
}

.hig-hom{
    height: 120px;
    gap: 4px;
}

