.nav {
    width: 100&;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 0 15px;
    padding: 8px 16px;  
    color: #fff;
    background-color: #282f38;

    .nav-in{
        border-radius: 5px;
        padding: 2px 4px;
        margin: 0 5px;
    }
    

    a {
        color: rgb(255, 255, 255);

        &:hover {
            color: rgb(255, 255, 255);

            opacity: 0.5;
        }

        &:active{
            color: rgb(255, 255, 255);
            opacity: 0.5;
        }
    }

    &__left {
        display: flex;
        align-items: center;


        &--ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0 !important;
            margin: 0;

            &-li {
                a {
                    text-decoration: none;
                    padding: 5px !important;

                }
            }
        }
    }
}